<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= member_name %> </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <link href= "/assets/member.css" rel="stylesheet" />
</head>
<body>
    <h1><%= member_name %></h1>
    <canvas id="common_chart_canvas"></canvas>
    <div class="container-fluid">
        <div class="row">
            <% for (let stream of all_streams) { %>
                <div class="col-md-3 col-sm-6 col-12">
                    <div id="stream_card_div" class="stream-card card text-center border-primary">  
                        <img class="card-stream-thumbnail card-img" src="<%= stream.thumbnail_url %>">
                        <div class="card-img-overlay">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2"><%= stream.title %></h6>
                                <% let date_options = {year: 'numeric', month: 'long', day: 'numeric' }; %>
                                <% let formatted_card_date = new Date(stream.times.actual_start_time).toLocaleDateString("en-US", date_options) %>
                                <a class="btn btn-info btn-sm stretched-link" id="<%=stream.id%>" onClick="updateChart(this.id)"><%= formatted_card_date %></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
   
    
    <script>
        var chart_element = document.getElementById('common_chart_canvas');
        var common_chart = new Chart(chart_element, {

            type: 'scatter',
            data: {
                datasets: [{
                    // label: '# of common viewers of <%= member_name %>',
                    // data: [],
                    // pointStyle: [],
                    // backgroundColor: 'rgb(255, 0, 0)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            callback: function(value, index, values) {
                                let options = {year: 'numeric', month: 'long', day: 'numeric' };
                                let formatted_date = new Date(value).toLocaleString('en-US', options);
                                return formatted_date;
                            }
                        }
                    },
                    yAxis: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script type="text/javascript">
        async function updateChart(stream_id) {
            $.ajax({
                url : `http://127.0.0.1:3000/api/chart/<%=member_id%>/${stream_id}`,
                type : 'GET',
                dataType:'json',
                success : function(data) {
                    // clearing all data/datasets
                    for (let i in common_chart.data.datasets.length) {
                        common_chart.data.datasets[i].data = [];
                    }
                    common_chart.data.datasets = data;
                    common_chart.update();
                },
                error : function(req, err) {
                    alert(err);
                }
            });
        }
    </script>
</body>
</html>