<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= member_name %> </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>
<body>
    <h1>This is the <%= member_name %> page!</h1>
    <canvas id="myChart"></canvas>
    <% for (let stream of all_streams) { %>
        <button id="<%=stream.id%>" onClick="updateChart(this.id)"><%= stream.member_id %> - <%= stream.id %></button><br>
    <% } %>
    
    <script>
        const chart_data = JSON.parse('<%- JSON.stringify(chart_data) %>');
        let converted_data = []
        for (let point of chart_data) {
            converted_data.push({x: new Date(point.x), y: point.y})
        }
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: '# of <%= member_id %>',
                    data: converted_data,
                    backgroundColor: 'rgb(255, 0, 0)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            callback: function(value, index, values) {
                                let options = {year: 'numeric', month: 'long', day: 'numeric' };
                                let formatted_date = new Date(value).toLocaleString('en-US', options);
                                return formatted_date;
                            }
                        }
                    },
                    yAxis: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script type="text/javascript">
        async function updateChart(stream_id) {
            $.ajax({
                url : `http://127.0.0.1:3000/api/chart/${stream_id}`,
                type : 'GET',
                dataType:'json',
                success : function(data) {              
                    alert(data.stream_id);
                },
                error : function(req, err) {
                    alert(err);
                }
            });
        }
    </script>
</body>
</html>